<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <link rel="stylesheet" href="/css/manager/postInfo.css">
</head>
<div id="mainFrame" layout:fragment="content" class="mainFrame">
    <div class="post_info_body">
        <div class="post_info_title_box">
            <div class="title">
                <span>게시글 정보관리</span>
            </div>
            <div class="post_info_btn_box">
                <form>
                    <button type="submit" name="" class="post_info_select_btn">조회</button>
                    <button type="submit" name="" class="post_info_create_btn">신규</button>
                    <button type="submit" name="" class="post_info_save_btn">저장</button>
                    <button type="submit" name="" class="post_info_delete_btn">삭제</button>
                </form>
            </div>
        </div>
        <div class="post_info_search_body">
            <div class="post_info_search_box">
                <div class="post_info_board_name_box">
                    <span>게시판 이름</span>
                    <input type="text" id="boardName" placeholder="게시판명"/>
                </div>
                <div class="post_info_board_type_box">
                    <span>게시판 종류</span>
                    <select class="post_info_board_type">
                        <option>(전체)</option>
                        <option value="공지사항">공지사항</option>
                        <option value="자유게시판">자유게시판</option>
                        <option value="건의사항">건의사항</option>
                        <option value="과제게시판">과제게시판</option>
                        <option value="학생게시판">학생게시판</option>
                    </select>
                </div>
                <div class="post_info_board_sec_box">
                    <span>운영단위</span>
                    <select class="post_info_board_sec">
                        <option>(전체)</option>
                        <option value="전체">전체</option>
                        <option value="과정단위">과정단위</option>
                        <option value="수업">수업</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="post_info_list_text_box">
            <div class="post_info_list_text">
                <span>📚&nbsp 게시글 정보 목록</span>
            </div>
        </div>
        <div class="post_info_list_box">
            <div class="post_info_list">
                <div id="grid1"></div>
            </div>
        </div>
        <div class="post_info_text_box">
            <div class="post_info_text">
                <span>📄&nbsp 게시글 정보</span>
            </div>
        </div>
        <div class="post_info_big_box">
            <div class="post_info_box">
                <div class="post_info_left_box">
                    <div class="post_info_board_id_box">
                        <div class="post_info_board_id_text_box">
                            <span>게시판 번호</span>
                        </div>
                        <div class="post_info_board_id">
                            <input type="text" id="boardId" placeholder="2" readonly/>
                        </div>
                    </div>
                    <div class="post_info_board_type_box">
                        <div class="post_info_board_type_text_box">
                            <span>게시판 종류</span>
                        </div>
                        <div class="post_info_board_type">
                            <input type="text" id="boardType" placeholder="건의사항"/>
                        </div>
                    </div>
                </div>
                <div class="post_info_right_box">
                    <div class="post_info_board_name_box">
                        <div class="post_info_board_name_text_box">
                            <span>게시판 명</span>
                        </div>
                        <div class="post_info_board_name">
                            <input type="text" id="boardName2" placeholder="건의사항입니다."/>
                        </div>
                    </div>
                    <div class="post_info_board_comm_box">
                        <div class="post_info_board_comm_text_box">
                            <span>답변필요여부</span>
                        </div>
                        <div class="post_info_board_comm">
                            <input type="checkbox" id="boardComm"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/manager/postInfo.js"/>
</div>