<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <link href="/css/manager/postWrite.css" rel="stylesheet">
</head>
<div id="mainFrame" layout:fragment="content" class="mainFrame">
    <div class="post_write_body">
        <div class="post_write_btn_box">
            <div class="title">
                <span>게시글 작성(담당용)</span>
            </div>
            <div class="post_write_box">
                <form method="post">
                <button type="submit" name="" class="post_select_btn">조회</button>
                <button type="submit" name="" class="post_create_btn">신규</button>
                <button type="submit" name="" class="post_save_btn">저장</button>
                <button type="submit" name="" class="post_delete_btn">삭제</button>
                </form>
            </div>
        </div>
        <div class="post_search_body">
            <div class="post_search_box">
                <div class="post_board_box">
                    <span>게시판</span>
                    <select class="post_board_select">
                        <option>(전체)</option>
                        <option value="공지사항">공지사항</option>
                        <option value="건의사항">건의사항</option>
                        <option value="학생">학생</option>
                        <option value="교원">교원</option>
                        <option value="과정">과정</option>
                        <option value="수업게시판">수업게시판</option>
                    </select>
                </div>
                <div class="post_search_requirement_box">
                    <span>검색조건</span>
                    <select class="post_search_requirement_select">
                        <option>(전체)</option>
                        <option value="제목">제목</option>
                        <option value="내용">내용</option>
                        <option value="첨부파일">첨부파일</option>
                    </select>
                </div>
                <div class="post_date_box">
                    <span>작성일</span>
                    <input type="text" id="post_reg_date" readonly placeholder="2023-09-30"/>
                    <span><i class="fa-solid fa-calendar-days"></i></span>
                </div>
            </div>
        </div>
        <div class="post_list_text_box">
            <div class="post_list_text">
                <span>📕&nbsp 게시글 목록</span>
            </div>
        </div>
        <div class="post_list_box">
            <div class="post_list">
                <div id="grid1"></div>
            </div>
        </div>
        <div class="post_content_text_box">
            <div class="post_content_text">
                <span>📕&nbsp 게시글 내용</span>
            </div>
        </div>
        <div class="post_content_box">
            <div class="post_content">
                <div class="post_content_left_box">
                    <div class="post_content_num_box">
                        <div class="post_content_num_text_box">
                            <span>게시글 번호</span>
                        </div>
                        <div class="post_content_num">
                            <input type="text" id="postId" placeholder="2023-L0189" readonly/>
                        </div>
                    </div>
                    <div class="post_content_title_box">
                        <div class="post_content_title_text_box">
                            <span>제목</span>
                        </div>
                        <div class="post_content_title">
                            <input type="text" id="postCont" placeholder="제목입니다."/>
                        </div>
                    </div>
                    <div class="post_content_writer_box">
                        <div class="post_content_writer_text_box">
                            <span>작성자</span>
                        </div>
                        <div class="post_content_writer">
                            <input type="text" id="postWriter" placeholder="홍길동" readonly/>
                        </div>
                    </div>
                    <div class="post_content_date_box">
                        <div class="post_content_date_text_box">
                            <span>작성일자</span>
                        </div>
                        <div class="post_content_date">
                            <input type="text" id="postRegDate" placeholder="2023-09-30" readonly/>
                        </div>
                    </div>
                </div>
                <div class="post_content_right_box">

                </div>
            </div>
        </div>
    </div>
    <script src="/js/postWrite.js"></script>
</div>