<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/profdefault}">
<head>
    <link rel="stylesheet" href="/css/prof/assignment.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <script>
        $(document).ready(function() {
            $('#searchForm').submit(function(event) {
                event.preventDefault();
                var lectId = $('#lectId').val();
                var assiId = $('#assiId').val();

                // Make an AJAX request to fetch student data based on lectId and assiId
                $.ajax({
                    type: 'GET',
                    url: '/prof/findStudentInfo',
                    data: { lectId: lectId, assiId: assiId },
                    success: function(data) {
                        // Update the table with student data
                        var studentTable = $('#studentTable');
                        studentTable.empty();
                        $.each(data, function(index, student) {
                            studentTable.append('<tr>' +
                                '<td>' + student.member.memberId + '</td>' +
                                '<td>' + student.member.userName + '</td>' +
                                '<td>' + student.studGrade + '</td>' +
                                '<td>' + student.studMaxCr + '</td>' +
                                '<td>' + student.studNowCr + '</td>' +
                                '<td>' + student.studCreCpl + '</td>' +
                                '</tr>');
                        });
                    },
                    error: function() {
                        alert('An error occurred while fetching student data.');
                    }
                });
            });
        });
    </script>
</head>

<div id="mainFrame" layout:fragment="content" class="mainFrame">

    <div class="assi_body">
        <form id="searchForm">
        <div class="assi_back_btn_box">
            <div class="assi_course_search_text_box">
                <span>🔍&nbsp 과제검색</span>
            </div>
<!--            <div class="assi_back_btn">-->
<!--                <button type="button" class="backBtn">돌아가기</button>-->
<!--            </div>-->
        </div>
        <div class="assi_search_box">
            <div class="assi_search_bottom_box">
                <div class="assi_ch_lect_name">
                    <div class="assi_search_lect_name_text">
                        <span>강좌명</span>
                    </div>
                    <div class="assi_search_lect_name">
                        <input id="lectId" style="width: 351px; height: 35px; border-radius: 5px; border: 1px solid #cccccc; outline: none; text-indent: 5px;" type="text" th:value="${lectInfo.lectName}" readonly/>
                    </div>
                </div>
            </div>
            <div class="assi_search_bottom_box">
                <div class="assi_ch_lect_name">
                    <div class="assi_search_lect_name_text">
                        <span>과제명</span>
                    </div>
                    <div class="assi_search_lect_name">
                        <select id="assiId" style="width: 351px; height: 35px; border-radius: 5px; border: 1px solid #cccccc; outline: none; text-indent: 5px;">
                            <option th:each="assignment : ${assignmentsList}"
                                    th:value="${assignment.getAssiId}"
                                    th:text="${assignment.name}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
            <button type="submit">제출</button>
        </form>

            <div class="assi_total_status_text_box">
                <span>📊&nbsp 과제정보</span>
                <div class="assi_que_btn_box">
                    <button type="button" class="assi_que_btn"><a th:href="@{'/prof/lecture/view/' + ${lectId} + '/assignments/add'}">과제출제</a></button>
                </div>
            </div>
            <div class="assi_ch_total_status_grid1">
                <table class="assi_ch_assi_info_tb">
                    <thead>
                        <tr>
                            <td><span>과제번호</span></td>
                            <td><span>과제명</span></td>
                            <td><span>제출시작일시</span></td>
                            <td><span>제출마감일시</span></td>
                            <td><span>진행상태</span></td>
                            <td><span>과제수정</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="assignment : ${assignmentsList}">
                            <td><span th:text="${assignment.getAssiId}"></span></td>
                            <td><span th:text="${assignment.name}"></span></td>
                            <td><span th:text="${assignment.start}"></span></td>
                            <td><span th:text="${assignment.end}"></span></td>
                            <td><span th:text="${assignment.isActive ? '진행중' : '마감'}"></span></td>
                            <td>
                                <a type="button" class="assiDeleteBtn" th:href="@{'/prof/lecture/view/' + ${lectId} + '/assignments/'+ ${assignment.getAssiId}+ '/submit'}"><span>제출</span></a>
                                <a type="button" class="assiUpdateBtn" th:href="@{'/prof/lecture/view/' + ${lectId} + '/assignments/'+ ${assignment.getAssiId}+ '/modify'}"><span>수정</span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="assi_stu_info_text_box">
                <span>🙌&nbsp 학생정보</span>
            </div>
            <div class="assi_ch_total_status_grid2">
                <table id="studentTable" class="assi_ch_stud_info_tb">
                    <thead>
                        <tr>
                            <td><span>학번</span></td>
                            <td><span>성명</span></td>
                            <td><span>제출일시</span></td>
                            <td><span>제출구분</span></td>
                            <td><span>과제제출정보</span></td>
                            <td><span>피드백</span></td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
    </div>
    <script src="/js/prof/assignment.js"></script>
</div>