<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/studentDefault}">
<head>
    <meta charset="UTF-8">
    <title>성적 조회</title>
    <link rel="stylesheet" href="/css/student/stu_gradeCheck.css">
</head>
<body>
    <section id="mainFrame" layout:fragment="content">
        <article class="gradeTable">
            <div>
                <h4>과목별 성적</h4>
                <table class="subGrade">
                    <tr>
                        <th style="width: 15%" >강좌 번호</th>
                        <th style="width: 40%">개설 강좌명</th>
                        <th style="width: 15%">학점</th>
                        <th style="width: 15%">담당 강사명</th>
                        <th style="width: 15%">평가등급</th>
                    </tr>
                    <tr th:each="gradeInfo : ${list}" ><!-- 해당 자료만큼 반복됩니다. -->
                        <td th:text="${gradeInfo.lectId}">번호가 옵니다.</td>
                        <td th:text="${gradeInfo.lectName}" class="lecName">강좌명이 옵니다.</td>
                        <td th:text="${gradeInfo.lectCredit}">학점이 옵니다.</td>
                        <td th:text="${gradeInfo.userName}">담당 강사명이 옵니다.</td>
                        <td th:text="${gradeInfo.grade}">총 평가 등급이 옵니다.</td>
                    </tr>
                </table>
            </div>
            <div>
                <h4>학기별 성적</h4>
                <table class="semGrade">
                    <tr>
                        <th style="width: 10%">학년</th>
                        <th style="width: 10%">연도</th>
                        <th style="width: 10%">학기</th>
                        <th style="width: 20%">신청 학점</th>
                        <th style="width: 20%">이수 학점</th>
                        <th style="width: 15%">평균 학점</th>
                        <th style="width: 15%">상세보기</th>
                    </tr>
                    <tr> <!-- 해당 자료만큼 반복됩니다. -->
                        <td>학년이 옵니다.</td>
                        <td>연도가 옵니다.</td>
                        <td>학기가 옵니다.</td>
                        <td>신청 학점이 옵니다.</td>
                        <td>이수 학점이 옵니다.</td>
                        <td>평균 학점이 옵니다.</td>
                        <td><button id="toDetail">상세</button></td>
                    </tr>
                </table>
            </div>

            <!-- 자바스크립트 통해 조절. ajax 비동기로 값 전달받아서 처리? -->
            <div class="detail" id="detail">
                <h4>밸류값 학기 과목별 성적 - 타임리프로 자동 처리합니다.</h4>
                <table class="subGrade">
                    <tr>
                        <th style="width: 15%" >강좌 번호</th>
                        <th style="width: 40%">개설 강좌명</th>
                        <th style="width: 15%">학점</th>
                        <th style="width: 15%">담당 강사명</th>
                        <th style="width: 15%">평가등급</th>
                    </tr>
                    <tr><!-- 해당 자료만큼 반복됩니다. -->
                        <td>번호가 옵니다.</td>
                        <td class="lecName">강좌명이 옵니다.</td>
                        <td>학점이 옵니다.</td>
                        <td>담당 강사명이 옵니다.</td>
                        <td>총 평가 등급이 옵니다.</td>
                    </tr>
                </table>
            </div>
        </article>
        <script src="/js/stu_gradeCheck.js"></script>
    </section>
</body>
</html>