<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/studentDefault}">
<head>
    <meta charset="UTF-8">
    <title>나의 강의실 > 강의계획서 보기</title>
    <link rel="stylesheet" href="/css/stud/stu_plan.css">
</head>
<body>
<section id="mainFrame" layout:fragment="content">
    <article class="mainContainer">
        <h4>강의계획서</h4>
        <div class="subContainer">
            <div class="optContainer">
                <span>연도</span>
                <div class="con1"><p th:text="${lectplan.lect.lectYear}"></p></div>
            </div>
            <div class="optContainer">
                <span>학기</span>
                <div class="con1"><p th:text="${lectplan.lect.lectSem}">자동입력</p></div>
            </div>
            <div class="optContainer">
                <span>과목명</span>
                <div class="con2"><p th:text="${lectplan.lect.lectName}">자동입력</p></div>
            </div>
        </div>

        <div class="subContainer">
            <div class="optContainer">
                <span>강사 성명</span>
                <div class="con1"><p th:text="${lectplan.lect.professor.member.userName}">여기에 강사 성명이 옵니다.</p></div>
            </div>
            <div class="optContainer">
                <span>학점</span>
                <div class="con1"><p th:text="${lectplan.lect.lectCredit}">자동입력</p></div>
            </div>
            <div class="optContainer">
                <span>E-mail</span>
                <div class="con1"><p th:text="${lectplan.lect.professor.member.userEmail}">여기에 이메일이 옵니다.</p></div>
            </div>
            <div class="optContainer">
                <span>주교재</span>
                <div class="con1"><p th:text="${lectplan.planBook}">여기에 주교재가 옵니다.</p></div>
            </div>
            <div class="optContainer">
                <span>강의 시작일</span>
                <div class="con1"><p th:text="${#temporals.format(lectplan.lect.lectStart, 'yyyy-MM-dd')}">자동입력</p></div>
            </div>
            <div class="optContainer">
                <span>강의 종료일</span>
                <div class="con1"><p th:text="${#temporals.format(lectplan.lect.lectEnd, 'yyyy-MM-dd')}">자동입력</p></div>
            </div>
            <div class="optContainer1">
                <span>강의 설명</span>
                <pre th:text="${lectplan.planDes}">여기에 설명이 옵니다.</pre>
            </div>
        </div>

        <div class="subContainer">
            <div class="subName"><h4>평가 방식</h4></div>
            <div class="subContainer2">
                <div><p>출석</p><p th:text="${lectplan.lect.lectCheck}"></p></div>
                <div><p>과제물</p><p th:text="${lectplan.lect.lectAssign}">35</p></div>
                <div><p>시험</p><p th:text="${lectplan.lect.lectTest}">30</p></div>
            </div>
        </div>
    </article>
</section>
</body>
</html>