<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/studentDefault}">
<head>
    <meta charset="UTF-8">
    <title>나의 강의실</title>
    <link rel="stylesheet" href="/css/stud/stu_lecture.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/stud/lecturemain.css">
</head>
<body>
<section id="mainFrame" layout:fragment="content" class="mainFrame">
    <article class="mainContainer">
        <div class="teacher_name_box">
            <span>강사명 : </span>
            <span th:text="${lectinfo.professor.member.userName}">강사명이 오는 곳</span>
        </div>
        <div class="lecture_period">
            <span>강의기간 : </span>
            <span th:text="${#temporals.format(lectinfo.lectStart, 'yyyy-MM-dd')} + ' ~ ' + ${#temporals.format(lectinfo.lectEnd, 'yyyy-MM-dd')}">강의기간이 오는 곳</span>
        </div>
        <div class="lecture_grade">
            <span>학점 : </span>
            <span th:text="${lectinfo.lectCredit}">학점이 오는 곳</span>
        </div>
        <div class="btn_body">
            <div>
                <a th:href="@{'/student/lecture/view/' + ${lectinfo.lectId} + '/lectureplan'}"><span>강의계획서 보기</span></a>
            </div>
            <div>
                <a th:href="@{'/student/lecture/view/' + ${lectinfo.lectId} + '/onlineclass'}"><span>온라인 강의실</span></a>
            </div>
            <div>
                <a th:href="@{'/student/lecture/view/' + ${lectinfo.lectId} + '/수업게시판'}"><span>수업 게시판</span></a>
            </div>
            <div>
                <a th:href="@{'/student/lecture/view/' + ${lectinfo.lectId} + '/출결조회'}"><span>출결조회</span></a>
            </div>
            <div>
                <a th:href="@{'/student/lecture/view/' + ${lectinfo.lectId} + '/assignments'}"><span>과제조회/제출</span></a>
            </div>
        </div>
    </article>
</section>
</body>
</html>