<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/studentDefault}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap icon cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- fontawesome cdn -->
    <script src="https://kit.fontawesome.com/fa8d81743a.js" crossorigin="anonymous"></script>
    <!-- header css -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/student/stud_main.css">
    <title>Document</title>
</head>
<body>
       <!-- 메인페이지 중앙 시작 -->
       <section id="mainFrame" layout:fragment="content">
        <section>
            <article class="middle_article1">
                <div class="article1_box">
                    <div class="profile_img">
                        <img src="/img/student/suzi.png" alt="">
                    </div>
                    <div class="profile_name">
                        배수지
                    </div>
                    <div class="profile_bottom">
                        <p class="profile_letter">
                          쪽지함
                        </p>
                        <p class="profile_pswd">
                          비밀번호 변경
                        </p>
                    </div>
                </div>
                <div class="article1_box">
                    <div class="class_top">
                        <p>
                           나의수업강좌
                        </p>
                        <p>
                           이모티콘
                        </p>
                    </div>
                    <div class="class_box">
                        암호학개론
                    </div>
                    <div class="class_box">
                        세계사와 사회변화
                    </div>
                </div>
                <div class="article1_box">
                    <div class="homework_top">
                        <p>
                            과제현황
                        </p>
                        <p>
                            이모티콘
                        </p>
                    </div>
                    <div class="homework_box">
                         전국도감 찾아오기!
                    </div>
                    <div class="homework_box">
                         만원으로 일주일버티기!
                    </div>
                </div>
            </article>
            <article class="middle_article2">
                <div class="article2_box">
                    <div class="teacher_comu_top">
                        <p>
                           학생커뮤니티
                        </p>
                        <p>
                           이모티콘
                        </p>
                    </div>
                    <div class="teacher_comu_box">
                        커뮤니티 오세여~
                    </div>
                    <div class="teacher_comu_box">
                        커뮤니티 이용하세여~
                    </div>
                </div>
                <div class="article2_box">
                    <div class="notice_top">
                        <p>
                           공지사항
                        </p>
                        <p>
                           이모티콘
                        </p>
                    </div>
                    <div class="notice_box">
                        이 공지사항은 테스트입니다.
                    </div>
                    <div class="notice_box">
                        이 공지사항은 테스트입니다.
                    </div>
                </div>
                <div class="article2_box">
                    <div class="class_notice_top">
                        <p>
                           수업게시판
                        </p>
                        <p>
                           이모티콘
                        </p>
                    </div>
                    <div class="class_notice_box">
                        교수 과제 빡치네..
                    </div>
                    <div class="class_notice_box">
                        점수 입력좀 다시점..
                    </div>
                </div>
            </article>
        </section>
       </section>
    <!-- 메인페이지 중앙 끝-->

        <!-- bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- header js -->
        <script src="/js/header.js"></script>
</body>
</html>