<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/admin_default}">
<head>
    <meta charset="UTF-8">
    <title>강사 관리 페이지</title>
    <link rel="stylesheet" href="/css/admin_prof_manage.css">
</head>
<body>
<section id="mainFrame" layout:fragment="content">
    <!-- 검색 조건 설정, 조회 등 버튼 위치 구역 -->
    <article class="searchFrame">
        <div class="buttonGroup">
            <div>조회</div>
        </div>
        <div class="searchBox">
            <div>
                <div class="searchContainer">
                    <span>과목명</span>
                    <select>
                        <option>언어</option>
                        <option>사회</option>
                        <option>과학</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="searchContainer">
                    <span>활동 상태</span>
                    <select>
                        <option>활동중</option>
                        <option>휴식중</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="searchContainer">
                    <span>성명</span>
                    <input class="lName" type="text" placeholder="검색할 강사 이름을 적어주세요.">
                </div>
            </div>
        </div>
    </article>

    <div class="result">검색 결과 : value건</div>
    <h4 class="list">강사 정보</h4>
    <div id="grid"></div>

    <h4 class="list">기본 정보</h4>
    <article class="table">
        <table class="detail">
            <tr>
                <th>교원 번호</th>
                <td>
                    <div>교원 번호가 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>성명</th>
                <td>
                    <div>이름이 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td>
                    <div>생일이 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>성별</th>
                <td>
                    <div>성별이 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>
                    <div>전화번호가 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>주소</th>
                <td>
                    <div>주소가 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>회원 번호</th>
                <td>
                    <div>회원 번호가 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>
                    <div>이메일이 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>활동 상태 구분</th>
                <td>
                    <div>현재 활동 상태가 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>예금주</th>
                <td>
                    <div>예금주가 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>은행명</th>
                <td>
                    <div>은행 명이 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>계좌번호</th>
                <td>
                    <div>계좌번호가 옵니다.</div>
                </td>
            </tr>
            <tr>
                <th>소속 기관</th>
                <td>
                    <div>소속 기관이 옵니다.</div>
                </td>
            </tr>
        </table>
        <div class="imageContainer">
            <div class="img">
                이미지가 옵니다.
            </div>
        </div>
    </article>
</section>
</body>
<th:block layout:fragment="script">
    <script src="/js/admin_prof_manage.js"></script>
</th:block>
</html>