<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/admin_default}">

<head>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="/css/admin/youTube_registration.css">
</head>

<body>

<div id="mainFrame" layout:fragment="content">
    <div class="">
        <form class="d-flex justify-content-end m-2">
            <button type="button" class="me-md-1 btn btn-secondary">조회</button>
            <button type="button" class="me-md-1 btn btn-secondary">신규</button>
            <button type="button" class="me-md-1 btn btn-secondary">저장</button>
            <button type="button" class="btn btn-secondary">삭제</button>
        </form>

        <div id="top-table" class="row bg-body-tertiary justify-content-end p-3">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="s1">콘텐츠명</span>
                    </div>
                    <input class="form-control" type="search" placeholder="콘텐츠명 검색" aria-label="Search">
                </div>
            </div>
            <div class="col mt-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="m-3 p-5">교과목명</span>
                    </div>
                    <input class="form-control" type="search" placeholder="교과목명 검색" aria-label="Search">
                </div>
            </div>
        </div>
        <div id="player"></div>
        <div class="table-button-container border border-0">
            <div class="d2 border border-0">온라인콘텐츠 검색결과</div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="me-md-1 btn btn-secondary">업로드 인증</button>
                <button type="button" id="login-button" class="btn btn-secondary">API 인증</button>
            </div>
        </div>

        <div class="tbl1">
            <div id="grid"></div>
            <nav aria-label="Page navigation example">
                <ul class="pg2 pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <input type="hidden" class="magId" th:value="${magId}"/>
        <table class="right-align">

            <tbody class="tbl2 border border-1">

            <tr>
                <th class="border border-1 wider-th">콘텐츠괸리번호</th>
                <td class="border border-1 border-dark-subtle">
                    <input class="sfc form-control" type="search" aria-label="Search">
                </td>
            </tr>
            <tr>
                <th class="border border-1 wider-th">콘텐츠명*</th>
                <td class="border border-1 border-dark-subtle">
                    <input class="sfc form-control" type="search" aria-label="Search">
                </td>
            </tr>
            <tr>
                <th class="border border-1 wider-th">콘텐츠설명</th>
                <td class="border border-1 border-dark-subtle">
                    <input class="sfc form-control" type="search" aria-label="Search">
                </td>
            </tr>
            <tr>
                <th class="border border-1 wider-th">YouTube연동번호*</th>
                <td class="border border-1 border-dark-subtle">
                    <input class="sfc form-control" type="search" aria-label="Search">
                </td>
            </tr>
            <tr>
                <th class="border border-1 wider-th">차시 학습시간(초)</th>
                <td class="border border-1 border-dark-subtle">
                    <input class="sfc form-control" type="search" aria-label="Search">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="/js/admin/youTube_registration.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/js/admin/youtube.js"></script>
</div>

</body>

</html>
