server:
  port: 80

spring:
  security:
    user:
      name: user
      password: 1234

  h2:
    console:
      enabled: true
      path: /h2

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test
    username: sa
    password:

  jpa:
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop

    properties:
      hibernate:
        format_sql: true

    defer-datasource-initialization: true

  servlet:
    multipart:
      enabled: true
      location: C:\\upload
      max-file-size: 30MB
      max-request-size: 10MB


