<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>푸터입니다</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer>
        <div class="wrap_footer">
          <div class="footer_top_wrap">
              <div class="footer1">
                  <div class="logos">
                      <a>
                          <img src="/img/footerLeftLogo.png" alt="TRANSLATION ACADEMY LTI KOREA LOGO">
                      </a>
                      <a>
                          <img src="/img/footerRightLogo.png" alt="한국문학번역원 로고">
                      </a>
                  </div>
              </div>
              <div class="footer2">
                  <ul class="personalinfo">
                      <li>
                          <a>개인정보처리방침</a>
                      </li>
                      <li>
                          <a>오시는길</a>
                      </li>
                      <li>
                          <a>이용약관</a>
                      </li>
                      <li>
                          <a>이메일무단수집금지</a>
                      </li>
                  </ul>
                  <ul class = "address">
                      <li>
                        서울특별시 마포구 신촌로 176
                      </li>
                      <li>
                        대표자 : 권혁인 &nbsp; &nbsp;
                        사업자등록번호 : 103-91-93011 &nbsp; &nbsp;
                        Tel : 010-5432-1313 Fax : 02-3448-4247
                      </li>
                  </ul>
                  <p class="copyright">
                      Copyright ⓒ Literature Translation Institute of Korea. All Rights Reserved.
                  </p>
              </div>
          </div>
          <div class="footer_btm_wrap">
            <div class="footer3">
              <ul>
                  <li>
                    이메일문의 lmsonline@naver.com 
                  </li>
              </ul>
              <ul>
                  <li>
                    문의시간 평일:09:00 ~ 17:00/토.일요일,공휴일 휴무
                  </li>
              </ul>
            </div>
          </div>
        </div>
    </footer>

</body>
</html>