@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.before_click_color{
    color: #000;
}
.after_click_color{
    color: #245396; font-weight: bold;
}

#logo {
    height: 70px;
}

/* 슬라이드 인 애니메이션 정의 */
.slide-in {
    animation-name: slideIn;
    animation-duration: 0.3s; /* 애니메이션 지속 시간 설정 */
    animation-timing-function: ease;
}

@keyframes slideIn {
    0% {
        transform: translateY(-23%);
    }
    100% {
        transform: translateY(0);
    }
}
.index_body {
    display: flex; font-family: 'SUIT-Regular';
}
.admin_body {
    width: 1908px;
    height: auto;
}
.aside_main {
    border: 0px solid black; width: 220px; height: 1200px;
    border-right: 1px solid #cccccc;
}

/*검색어 입력*/
.aside_main > .menu_search {
    border: 0px solid black; width: 220px; height: 45px;
}
.aside_main > .menu_search > .search_form {
    display: flex; align-items: center; width: 220px; height: 45px;
    border-bottom: 1px solid #cccccc;
}
.aside_main > .menu_search > .search_form > .search_input {
    width: 160px; height: 30px; border-radius: 5px; text-decoration: none;
    border: 1px solid #cccccc; margin-left: 10px; font-size: 0.8rem;
    text-indent: 5px; outline: none;
}
.aside_main > .menu_search > .search_form > .search_btn {
    margin-left: 5px; border: 1px solid #cccccc; border-radius: 5px;
    width: 32px; height: 30px; display: flex; align-items: center;
    justify-content: center; cursor: pointer;
}

/*메뉴*/
.aside_main > .aside {
    border: 0px solid black; width: 220px; height: 100%; font-size: 0.9rem;
}
.aside_main > .aside > .menu_box {
    border: 0px solid black; width: 220px; list-style-type: none;
}
.aside_main > .aside > .menu_box > .user_management_tap:hover span,
.aside_main > .aside > .menu_box > .student_management:hover span,
.aside_main > .aside > .menu_box > .teacher_management:hover span,
.aside_main > .aside > .menu_box > .class_management_tap:hover span,
.aside_main > .aside > .menu_box > .course_management:hover span,
.aside_main > .aside > .menu_box > .course_registration_management:hover span,
.aside_main > .aside > .menu_box > .online_course_status:hover span,
.aside_main > .aside > .menu_box > .course_management_tap:hover span,
.aside_main > .aside > .menu_box > .online_content_lectures:hover span,
.aside_main > .aside > .menu_box > .online_lecture_info_management:hover span,
.aside_main > .aside > .menu_box > .online_lecture_attendance_status:hover span,
.aside_main > .aside > .menu_box > .grade_management:hover span,
.aside_main > .aside > .menu_box > .overall_grade_management:hover span,
.aside_main > .aside > .menu_box > .portal_management:hover span,
.aside_main > .aside > .menu_box > .write_post:hover span,
.aside_main > .aside > .menu_box > .post_info:hover span{
    color: #245396; font-weight: bold; transition: 0.2s all;
}
.aside_main > .aside > .menu_box > div {
    border: 0px solid black; height: 35px; align-items: center;
    width: 219px; cursor: pointer; line-height: 35px;
}
.aside_main > .aside > .menu_box > div:hover a{
    color: #245396; font-weight: bold; transition: 0.2s all;
}
.aside_main > .aside > .menu_box > div a{
    text-underline: none; text-decoration: none; color: black;
}
.menu_box_first i{
    margin-left: 15px; font-size: 1.2rem;
}
.menu_box_second i, .menu_box_third i, .menu_box_fourth i{
    margin-left: 35px; font-size: 1.2rem;
}
.menu_box_first span, .menu_box_second span, .menu_box_third span, .menu_box_fourth span,
.menu_box_second a, .menu_box_third a{
    margin-left: 10px;
}
.menu_box_first:hover, .menu_box_second:hover, .menu_box_third:hover, .menu_box_fourth:hover {
    background: #cccccc; transition: 0.2s all;
}

.menu_box_second, .menu_box_third {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.menu_box_second.active, .menu_box_third.active {
    height: auto;
    transition: height 0.3s ease-in-out;
}