/* 전체 섹션 */
#mainFrame {
    border: 0;
    width: 1670px;
    height: 820px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 조회 버튼 */
.buttonGroup {
    position: relative;
    top: 10px;
    left: 1530px;
    width: 220px;
    outline: 0;
    height: 45px;
}

.buttonGroup > button{
    margin-left: 10px;
    float: left;
    width: 45px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    line-height: 27px;
    text-align: center;
    color: white;
    background-color: black;
}

/* 검색 박스 */
.searchBox {
    margin-left: 85px;
    width: 1500px;
    height: 140px;
    border: 2px solid black;
    border-radius: 5px;
}

.searchBox > div {
    position: relative;
    float: left;
    width: 748px;
    height: 69px;
    outline: 0;
}

.searchContainer {
    margin-left: 100px;
    line-height: 69px;
}

.searchContainer > select {
    position: absolute;
    top: 20px;
    left: 230px;
    width: 150px;
    height: 30px;
}

/* 강좌명 검색 인풋 */
.lName {
    position: absolute;
    top: 20px;
    left: 230px;
    width: 250px;
    height: 30px;
}

/* 그리드 영역 */
.list {
    margin-top: 20px;
    margin-left: 85px;
    margin-bottom: 20px;
}

.result {
    position: relative;
    top: 52px;
    left: 200px;
    width: 300px;
    height: 30px;
}

/* 그리드 */
#grid {
    position: relative;
    left: 85px;
    width: 1500px;
    display: flex;
}

/* 상세정보 영역 */
.table {
    width: 1500px;
    height: 600px;
    margin-left: 85px;
    margin-bottom: 50px;
    display: flex;
}

.detail {
    border-collapse: collapse;
    width: 900px;
    height: 900px;
    border: 1px solid black;
}

.detail tr {
    border-bottom: 0;
}

.detail tr > th {
    padding-left: 50px;
    height: 60px;
    width: 250px;
    background: #f4f4f4;
    border: 0;
}

.detail tr > td > div{
    margin-left: 30px;
    margin-right: 50px;
    width: 550px;
    height: 35px;
    outline: 2px solid black;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
}

/* 이미지 영역 */
.imageContainer {
    width: 600px;
    height: 900px;
    border: 1px solid black;
    border-left: 0;
}

.img {
    position: relative;
    top: 120px;
    left: 120px;
    width: 360px;
    height: 480px;
    border: 1px solid black;
}