/*그리드 폰트 변경*/
.tui-grid-container{
    font-family: 'SUIT-Regular';
}
/*화면 전체*/
.mainFrame {
    width: 1903px; display: flex; justify-content: center; height: 800px;
}

/*제목, 조회 신규 저장 삭제 버튼 부분*/
.post_info_body {
    border: 0px solid red; width: 1500px; height: 800px;
}
.post_info_body > .post_info_title_box {
    border: 0px solid black; width: 100%; height: 60px; display: flex;
    justify-content: center;
}
.post_info_body > .post_info_title_box .title{
    width: 800px; align-items: center; height: 60px; font-size: 1.3rem;
    border: 0px solid black; display: flex; justify-content: start;
}
.post_info_body > .post_info_title_box .title span{
    width: 300px; border: 0px solid black;
}
.post_info_body > .post_info_title_box > .post_info_btn_box{
    border: 0px solid black; width: 800px; display: flex; justify-content: end;
    align-items: center;
}
.post_info_body > .post_info_title_box > .post_info_btn_box button{
    background: #6b6b6b; color: white; border: none; width: 50px; height: 30px;
    border-radius: 5px; font-size: 0.9rem; text-align: center; line-height: 30px;
}
.post_info_body > .post_info_title_box > .post_info_btn_box button:hover{
    opacity: 0.9;
}

/*검색조건 부분*/
.post_info_search_body {
    border: 0px solid black; width: 1500px; height: 100px;
    display: flex; justify-content: center; align-items: center;
}
.post_info_search_body > .post_info_search_box {
    border: 1px solid #cccccc; width: 1600px; height: 100px; display: flex;
    border-radius: 10px;
}
.post_info_search_body > .post_info_search_box input,
.post_info_search_body > .post_info_search_box select{
    width: 197px; height: 30px; outline: none; border: 1px solid #245396;
    border-radius: 5px;
}

/*개시판 이름 검색조건*/
.post_info_search_body > .post_info_search_box > .post_info_board_name_box{
    width: 33%; height: 100px; border: 0px solid black; display: flex;
    justify-content: center; align-items: center;
}
.post_info_search_body > .post_info_search_box > .post_info_board_name_box span{
    margin-right: 10px;
}

/*게시판 종류 검색조건*/
.post_info_search_body > .post_info_search_box > .post_info_board_type_box{
    width: 34%; height: 100px; border: 0px solid black; display: flex;
    justify-content: center; align-items: center;
}
.post_info_search_body > .post_info_search_box > .post_info_board_type_box span{
    margin-right: 10px;
}

/*운영단위 검색조건*/
.post_info_search_body > .post_info_search_box > .post_info_board_id_box2{
    width: 33%; height: 100px; border: 0px solid black; display: flex;
    justify-content: center; align-items: center;
}
.post_info_search_body > .post_info_search_box > .post_info_board_id_box2 span{
    margin-right: 10px;
}

/*게시판 정보 목록 텍스트 부분*/
.post_info_list_text_box {
    border: 0px solid black; width: 1500px; height: 40px;
    display: flex; align-items: center; justify-content: center;
}
.post_info_list_text_box > .post_info_list_text {
    border: 0px solid black; width: 1600px; height: 40px; line-height: 40px;
}

/*게시글 정보 목록(그리드)*/
.post_info_list_box {
    border: 0px solid black; width: 1500px; height: 300px; display: flex;
    justify-content: center; align-items: center;
}
.post_info_list_box > .post_info_list {
    border: 0px solid black; width: 1600px; height: 300px;
}

/*게시판 정보 텍스트 부분*/
.post_info_text_box {
    border: 0px solid black; width: 1500px; height: 40px;
    display: flex; align-items: center; justify-content: center;
}
.post_info_text_box > .post_info_text {
    border: 0px solid black; width: 1600px; height: 40px; line-height: 40px;
}

/*게시판 정보(그리드)*/
.post_info_big_box {
    border: 0px solid black; width: 1500px; height: 100px; display: flex;
    justify-content: center; align-items: center;
}
.post_info_big_box > .post_info_box {
    border: 1px solid #cccccc; width: 1600px; height: 100px; display: flex;
    border-radius: 5px;
}

/*게시판 정보 왼쪽 부분*/
.post_info_big_box > .post_info_box > .post_info_left_box{
    border: 0px solid black; width: 50%; height: 100px;
    border-right: 1px solid #cccccc;
}

/*게시판 번호*/
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_id_box {
    border: 0px solid black; width: 100%; height: 50px; display: flex;
}
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_id_box > .post_info_board_id_text_box {
    border: 0px solid black; width: 50%; display: flex; align-items: center;
    border-bottom: 1px solid #cccccc;
}
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_id_box > .post_info_board_id_text_box span{
    font-size: 1.1rem; margin-left: 10px;
}
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_id_box > .post_info_board_id {
    width: 50%; display: flex; align-items: center; border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_id_box > .post_info_board_id input{
    margin-left: 10px; width: 351px; height: 35px; border-radius: 5px;
    border: 1px solid #cccccc; outline: none; background: #cccccc;
    text-indent: 5px;
}

/*게시판 종류*/
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_type_box {
    border: 0px solid black; width: 100%; height: 50px; display: flex;
}
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_type_box > .post_info_board_type_text_box {
    border: 0px solid black; width: 50%; display: flex; align-items: center;
}
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_type_box > .post_info_board_type_text_box span{
    font-size: 1.1rem; margin-left: 10px;
}
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_type_box > .post_info_board_type {
    width: 50%; display: flex; align-items: center; border-top: none;
    border-left: 1px solid #cccccc;
}
.post_info_big_box > .post_info_box > .post_info_left_box > .post_info_board_type_box > .post_info_board_type input{
    margin-left: 10px; width: 351px; height: 35px; border-radius: 5px;
    border: 1px solid #cccccc; outline: none; text-indent: 5px;
}

/*게시판 정보 오른쪽 부분*/
.post_info_big_box > .post_info_box > .post_info_right_box{
    border: 0px solid black; width: 50%; height: 100px;
}

/*게시판 명*/
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_name_box {
    border: 0px solid black; width: 100%; height: 50px; display: flex;
}
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_name_box > .post_info_board_name_text_box {
    border: 0px solid black; width: 50%; display: flex; align-items: center;
    border-bottom: 1px solid #cccccc;
}
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_name_box > .post_info_board_name_text_box span{
    font-size: 1.1rem; margin-left: 10px;
}
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_name_box > .post_info_board_name {
    border: 1px solid #cccccc; width: 50%; display: flex; align-items: center;
    border-top: none; border-right: none;
}
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_name_box > .post_info_board_name input{
    margin-left: 10px; width: 351px; height: 35px; border-radius: 5px;
    border: 1px solid #cccccc; outline: none; text-indent: 5px;
}

/*답변필요여부*/
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_comm_box {
    border: 0px solid black; width: 100%; height: 50px; display: flex;
}
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_comm_box > .post_info_board_comm_text_box {
    width: 50%; display: flex; align-items: center;
    border-top: none;
}
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_comm_box > .post_info_board_comm_text_box span{
    font-size: 1.1rem; margin-left: 10px;
}
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_comm_box > .post_info_board_comm {
    border-left: 1px solid #cccccc; width: 50%; display: flex; align-items: center;
    justify-content: center;
}
.post_info_big_box > .post_info_box > .post_info_right_box > .post_info_board_comm_box > .post_info_board_comm input{
    margin-left: 10px; width: 25px; height: 25px; border: 2px solid #bcbcbc;
    background: black; color: white;
}


