/*그리드 폰트 변경*/
.tui-grid-container{
    font-family: 'SUIT-Regular';
}
#top-table {
    width: 1522px;
    margin-left: 90px;

}


.table {
    margin-left: 90px;
    width: 94.5%;
}

.table th,
.table td {
    text-align: center;
}

.sfc {
    height: 80px;
}


.s1 {
    margin-right: 50px;
}



.d1 {
    font-size: 19px;
    font-weight: bold;
}
.d2 {
    margin-left: 90px;
    font-size: 19px;
    font-weight: bold;
    margin-top: 30px;
}


.tbl1 {
    margin-left: 90px;
    width: 40%;
    float: left;
}

.tbl2 .tr {
    height: 1000px;
}

.rbt {
    width: 30px;
    margin-left: 940px;
    margin-bottom: 300px;
}


.brt {
    width: 920px; /* 원하는 최대 너비로 조절 */
    margin: 0; /* 가운데 정렬 */
}

.brt2 {
    width: 40%;
}

.brt2 th {
    padding: 4px 10px;
    font-size: 17px;
}


.brt2 td {
    width: 400px;
    padding: 5px 10px;
    font-size: 14px;
}

.pg1.pagination li.page-item a.page-link {
    font-size: 15px; /* 페이지 번호의 폰트 크기 조절 */
    padding: 5px 13px; /* 페이지 번호의 패딩 조절 */
    border-color: grey;
    color: grey;
}

.pg2.pagination li.page-item a.page-link {
    font-size: 12px; /* 페이지 번호의 폰트 크기 조절 */
    padding: 5px 10px; /* 페이지 번호의 패딩 조절 */
    border-color: grey;
    color: grey;
}



/* 오른쪽으로 이동시킬 클래스 */
.right-align {
    float: right;
}

/* 테이블 스타일 추가 (예시로 테두리 추가) */
table {
    border-collapse: collapse;
    width: 50%; /* 원하는 너비로 조절하세요 */
    margin-left: 10px; /* 테이블과 다른 내용과의 간격을 조절하세요 */
}

/* 테이블 헤더 셀 너비 조절 */
.wider-th {
    width: 300px; /* 원하는 너비로 조절하세요 */
    border-color: grey;
    height: 110px;
    text-align: center;
    background: grey;
}

.form-control-2 {
    height: 80px;
}

/*업로드 모달 창*/
.modalWrap {
    position: absolute; left: 220px; top: 80px; z-index: 20; width: 1700px;
    height: 1000px; overflow: hidden; background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal {
    padding-top: 30px; position: relative; left:554px; top: 50px; z-index: 21;
    width: 600px; height: 700px; color: black; background: white;
    border-radius: 10px;
}
.modal > .upload_text_box {
    border: 0px solid black; height: 40px; display: flex; justify-content: center;
    align-items: center;
}
.modal > .upload_text_box > .upload_text {
    border: 0px solid black; width: 150px; height: 40px; font-weight: bold;
    display: flex; justify-content: center; align-items: center; font-size: 1.2rem;
}
.modal > .upload_text_box > .upload_text span{
    font-size: 4rem;
}

.upload_main {
    border: 0px solid black; width: 600px; height: 630px; display: flex;
    justify-content: center; align-items: center;
}
.upload_main form {
    border: 0px solid black; width: 407px; height: 524px;
}
.upload_main form > .upload_title_text,
.upload_main form > .upload_detail_text,
.upload_main form > .upload_file_text{
    border: 0px solid black; width: 400px; height: 50px;  display: flex;
    align-items: center;
}
.upload_main form > .upload_title_text span,
.upload_main form > .upload_detail_text span,
.upload_main form > .upload_file_text span{
    font-size: 1.1rem; font-weight: bold;
}
.upload_main form > .upload_title_input_box {
    width: 400px; height: 40px; border: 0px solid black;
}
.upload_main form > .upload_title_input_box input {
    width: 400px; height: 40px; outline: none; text-decoration: none;
    border-radius: 5px; border: 1px solid #cccccc;
}
.upload_main form > .upload_detail_textarea_box {
    width: 400px; height: 200px;
}
.upload_main form > .upload_detail_textarea_box textarea{
    width: 400px; height: 200px; resize: none; outline: none; border-radius: 5px;
    border: 1px solid #cccccc;
}
.upload_main form > .upload_file_input {
    width: 400px; height: 60px;
}
input[type=file]::file-selector-button {
    width: 80px; height: 35px; background: #fff; border: 1px solid rgb(77,77,77);
    border-radius: 5px; cursor: pointer;
}
input[type=file]::file-selector-button:hover {
    background: rgb(77,77,77); color: #fff;
}
.upload_main form > .upload_btn_box {
    border: 0px solid black; width: 400px; height: 35px; display: flex;
    justify-content: center; align-items: center;
}
.upload_main form > .upload_btn_box > .upload_exit button {
    width: 60px; height: 35px; border-radius: 5px; font-size: 0.9rem;
    text-align: center; line-height: 30px; margin-right: 5px; background: white;
    color: black; border: 1px solid #cccccc;
}
.upload_main form > .upload_btn_box > .upload_btn button {
    background: #6b6b6b; color: white; border: none; width: 60px; height: 35px;
    border-radius: 5px; font-size: 0.9rem; text-align: center; line-height: 30px;
    margin-left: 5px;
}






