#top-table {
    width: 1522px;
    margin-left: 90px;

}


.table {
    margin-left: 90px;
    width: 94.5%;
}

.table th,
.table td {
    text-align: center;
}

.form-control {
    height: 37px;
}

.input-group-prepend {
    margin-left: 190px;
}

.s1 {
    margin-right: 50px;
}



.d1 {
    font-size: 19px;
    font-weight: bold;
}
.d2 {
    margin-left: 90px;
    font-size: 19px;
    font-weight: bold;
}

.pg1.pagination li.page-item a.page-link {
    font-size: 15px; /* 페이지 번호의 폰트 크기 조절 */
    padding: 5px 10px; /* 페이지 번호의 패딩 조절 */
    border-color: grey;
    color: grey;
}