#top-table {
    width: 1522px;
    margin-left: 90px;

}


.table {
    margin-left: 90px;
    width: 94.5%;
}

.table th,
.table td {
    text-align: center;
}

.sfc {
    height: 80px;
}


.s1 {
    margin-right: 50px;
}



.d1 {
    font-size: 19px;
    font-weight: bold;
}
.d2 {
    margin-left: 90px;
    font-size: 19px;
    font-weight: bold;
    margin-top: 30px;
}


.tbl1 {
    margin-left: 90px;
    width: 40%;
    float: left;
}

.tbl2 .tr {
    height: 1000px;
}

.rbt {
    width: 30px;
    margin-left: 940px;
    margin-bottom: 300px;
}


.brt {
    width: 920px; /* 원하는 최대 너비로 조절 */
    margin: 0; /* 가운데 정렬 */
}

.brt2 {
    width: 40%;
}

.brt2 th {
    padding: 4px 10px;
    font-size: 17px;
}


.brt2 td {
    width: 400px;
    padding: 5px 10px;
    font-size: 14px;
}

.pg1.pagination li.page-item a.page-link {
    font-size: 15px; /* 페이지 번호의 폰트 크기 조절 */
    padding: 5px 13px; /* 페이지 번호의 패딩 조절 */
    border-color: grey;
    color: grey;
}

.pg2.pagination li.page-item a.page-link {
    font-size: 12px; /* 페이지 번호의 폰트 크기 조절 */
    padding: 5px 10px; /* 페이지 번호의 패딩 조절 */
    border-color: grey;
    color: grey;
}



/* 오른쪽으로 이동시킬 클래스 */
.right-align {
    float: right;
}

/* 테이블 스타일 추가 (예시로 테두리 추가) */
table {
    border-collapse: collapse;
    width: 50%; /* 원하는 너비로 조절하세요 */
    margin-left: 10px; /* 테이블과 다른 내용과의 간격을 조절하세요 */
}

/* 테이블 헤더 셀 너비 조절 */
.wider-th {
    width: 300px; /* 원하는 너비로 조절하세요 */
    border-color: grey;
    height: 110px;
    text-align: center;
    background: grey;
}

.form-control-2 {
    height: 80px;
}

.modalWrap {
    position: absolute;
    left: 220px;
    top: 80px;
    z-index: 20;
    width: 1700px;
    height: 1000px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
    padding-top: 30px;
    position: relative;
    left:430px;
    top: 50px;
    z-index: 21;
    width: 800px;
    height: 700px;
    color: black;
    background: white;
}