/*전체 화면 부분*/
.mainFrame {
    width: 1902px; display: flex; justify-content: center; align-items: center;

}
.middle_section {
    width: 1500px;
}

.middle_section .title {
    padding-top: 4px;
    width: 456px;
    height: 35px;
    display: flex;
    justify-content: end;
}

.middle_section .title p {
    font-size: 1.3rem;
    font-weight: 500;
    border-left: 4px solid #000;
    padding-left: 8px;
    height: 20px;
    line-height: 19px;
    color: #000;
    margin-top: 5px;
}

.middle_section .information {
    border: 1px solid #cccccc; border-radius: 5px;
    width: 830px; margin: 0 auto;
}

.middle_section .information .box1 {
    border: 0px solid black; width: 820px;
}

.middle_section .information .box1 .graph {
    border-bottom: 1px solid #cccccc; height: 59px; display: flex; width: 828px;
}

.middle_section .information .box1 .graph .graph_left {
    width: 244px; background-color: rgb(235, 240, 247); font-weight: bolder;
    font-size: 1.1rem; display: flex; align-items: center; justify-content: center;
}

.middle_section .information .box1 .graph .graph_right {
    width: 576px; display: flex; align-items: center; justify-content: center;
}

.middle_section .information .box1 .graph .graph_right input {
    width: 550px; height: 40px; font-size: 1.1rem; background-color: rgb(247, 248, 250);
    border: 1px solid #cccccc; border-radius: 5px; text-indent: 5px;
    outline: none;
}

.middle_section .information .box2 {
    border: 0px solid black;
    width: 820px;
    height: 316px;
}

.middle_section .information .box2 .photo {
    border-bottom: 0px solid black;
    height: 316px;
    display: flex;
}

.middle_section .information .box2 .photo .photo_left {
    width: 244px; background-color: rgb(235, 240, 247); font-weight: bolder;
    font-size: 1.1rem; display: flex; justify-content: center; align-items: center;
}

.middle_section .information .box2 .photo .photo_right {
    width: 570px; display: flex; justify-content: center; align-items: center;
}

.middle_section .information .box2 .photo .photo_right .img {
    border: 0px solid black;
    margin-left: 20px;
    margin-top: 40px;
    width: 230px;
    height: 230px;
}

.middle_section .information .box2 .photo .photo_right .img img {
    width: 230px;
    height: 230px;
}
.middle_section .information .box2 .photo .photo_right > .delete_img_btn_box > .delete_img{
    width: 100px; height: 30px; border: 1px solid #cccccc; display: flex; justify-content: center;
    align-items: center; border-radius: 5px; background-color: rgb(235, 240, 247);
    color: black; font-size: 0.9rem; line-height: 30px;
}
.middle_section .information .box2 .photo .photo_right .button {
    display: flex;
}

.middle_section .information .box2 .photo .photo_right .button p {
    border: 0px solid black;
    margin-left: 20px;
    width: 60px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.middle_section .bank div:nth-child(1) {
  width: 320px;
  background-color: rgb(235, 240, 247);
  line-height: 50px;
  text-indent: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.middle_section .bank div:nth-child(2) {
  width: 200px;
  border-right: 1px solid black;
}

.middle_section .bank div:nth-child(2) select {
    margin-top: 10px;
    margin-left: 10px;
}

.middle_section .bank div:nth-child(3) {
  width: 300px;
  line-height: 50px;
  text-indent: 10px;
}

.middle_section .bank div:nth-child(4) {
  width: 320px;
  background-color: rgb(235, 240, 247);
  line-height: 50px;
  text-indent: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.middle_section .bank div:nth-child(5) {
    line-height: 50px;
    text-indent: 10px;
}
.btn_box {
    width: 1165px; display: flex; justify-content: end; align-items: center;
    height: 50px;
}
.btn_box > .update {
    width: 100px; height: 35px; font-size: 0.9rem; background-color: rgb(235, 240, 247);
    border: 1px solid #cccccc; border-radius: 5px; line-height: 35px;
}




