<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/profdefault}">
<head>
    <link rel="stylesheet" href="/css/prof/assiGrade.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<div id="mainFrame" layout:fragment="content" class="mainFrame">
    <div class="assi_grade_body">
        <div class="assi_grade_lect_text_box">
            <div class="assi_grade_lect_text">
                <span>🔎&nbsp 강좌정보</span>
            </div>
        </div>
        <div class="assi_grade_view_box">
            <table class="assi_grade_tb_body">
                <thead class="assi_grade_tb_thead">
                    <tr>
                        <td><span>강좌번호</span></td>
                        <td><span>강좌명</span></td>
                        <td><span>성적입력여부</span></td>
                        <td><span>성적입력</span></td>
                    </tr>
                </thead>
                <tbody class="assi_grade_tb_tbody">
                    <tr th:each="lectInfo : ${list}">
                        <td th:text="${lectInfo.lectId}">2023-S25</td>
                        <td th:text="${lectInfo.lectName}">자바의 정석</td>
                        <td th:text="${lectInfo.isRecord}">Y</td>
                        <td>
                            <button class="ajax_button" th:attr="data-lect-id = ${lectInfo.lectId}"  type="button" id="toDetail">
                            작성하기
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="detail" class="detail" style="display: none">

                <div class="assi_grade_text_box">
                    <div class="assi_grade_text">
                        <span>💻&nbsp 성적입력</span>
                    </div>
                </div>


                <table class="assi_grade_body_stud_tb_body">
                    <thead>
                        <tr>
                            <td><span>성명</span></td>
                            <td><span>이메일</span></td>
                            <td id="lectCheck">출석(최대점수)</td>
                            <td id="lectAssign">과제(최대점수)</td>
                            <td id="lectTest">시험(최대점수)</td>
                            <td><span>평가등급</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="userName"></td>
                            <td id="userEmail"></td>
                            <td id="checkScore"></td>
                            <td id="assignScore"></td>
                            <td id="testScore"></td>
                            <td id="grade"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="assi_grade_reg_btn_box">
                    <button type="button" id="regBtn">등록</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/stud/assiGrade.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</div>