<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/profdefault}">
<head>
    <link rel="stylesheet" href="/css/prof/assignment.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>

<div id="mainFrame" layout:fragment="content" class="mainFrame">
    <div class="assi_body">
        <div class="assi_back_btn_box">
            <div class="assi_course_search_text_box">
                <span>🔍&nbsp 강좌검색</span>
            </div>
<!--            <div class="assi_back_btn">-->
<!--                <button type="button" class="backBtn">돌아가기</button>-->
<!--            </div>-->
        </div>
        <div class="assi_search_box">
            <div class="assi_search_top_box">
                <div class="assi_search_year_sem_box">
                    <div class="assi_search_year_text">
                        <span>년도</span>
                    </div>
                    <div class="assi_search_year">
                        <input type="text" id="lectYear" placeholder="2023"/>
                    </div>
                </div>
                <div class="assi_search_semester_box">
                    <div class="assi_ch_search_semester_text">
                        <span>학기</span>
                    </div>
                    <div class="assi_search_semester">
                        <input type="text" id="lectSem" placeholder="2학기"/>
                    </div>
                </div>
            </div>
            <div class="assi_search_bottom_box">
                <div class="assi_ch_lect_name">
                    <div class="assi_search_lect_name_text">
                        <span>강좌명</span>
                    </div>
                    <div class="assi_search_lect_name">
                        <input type="text" id="lectName" placeholder="슬기로운 코딩생활"/>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
        <form>
            <div class="assi_total_status_text_box">
                <span>📊&nbsp 과제정보</span>
                <div class="assi_que_btn_box">
                    <button type="button" class="assi_que_btn"><a href="/prof/assiInfo">과제출제</a></button>
                </div>
            </div>
            <div class="assi_ch_total_status_grid1">
                <table class="assi_ch_assi_info_tb">
                    <thead>
                        <tr>
                            <td><span>과제번호</span></td>
                            <td><span>과제명</span></td>
                            <td><span>제출시작일시</span></td>
                            <td><span>제출마감일시</span></td>
                            <td><span>진행상태</span></td>
                            <td><span>과제수정</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>1742134213</span></td>
                            <td><span>사회정석과제</span></td>
                            <td><span>2023-09-04 00:00</span></td>
                            <td><span>2023-09-05 23:59</span></td>
                            <td><span>마감</span></td>
                            <td>
                                <button type="button" class="assiUpdateBtn"><span>수정</span></button>
                                <button type="button" class="assiDeleteBtn"><span>삭제</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td><span>1742134213</span></td>
                            <td><span>사회정석과제</span></td>
                            <td><span>2023-09-04 00:00</span></td>
                            <td><span>2023-09-05 23:59</span></td>
                            <td><span>마감</span></td>
                            <td>
                                <button type="button" class="assiUpdateBtn"><span>수정</span></button>
                                <button type="button" class="assiDeleteBtn"><span>삭제</span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="assi_stu_info_text_box">
                <span>🙌&nbsp 학생정보</span>
            </div>
            <div class="assi_ch_total_status_grid2">
                <table class="assi_ch_stud_info_tb">
                    <thead>
                        <tr>
                            <td><span>학번</span></td>
                            <td><span>성명</span></td>
                            <td><span>제출일시</span></td>
                            <td><span>제출구분</span></td>
                            <td><span>과제제출정보</span></td>
                            <td><span>피드백</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>60171443</span></td>
                            <td><span>김호우</span></td>
                            <td><span>2023-09-05 23:59</span></td>
                            <td><span>제출</span></td>
                            <td><button type="button" class="assiDetailBtn"><span>과제상세보기</span></button></td>
                            <td><span>완료</span></td>
                        </tr>
                        <tr>
                            <td><span>60171443</span></td>
                            <td><span>김호우</span></td>
                            <td><span>2023-09-05 23:59</span></td>
                            <td><span>제출</span></td>
                            <td><button type="button" class="assiDetailBtn"><span>과제상세보기</span></button></td>
                            <td><span>완료</span></td>
                        </tr>
                        <tr>
                            <td><span>60171443</span></td>
                            <td><span>김호우</span></td>
                            <td><span>2023-09-05 23:59</span></td>
                            <td><span>제출</span></td>
                            <td><button type="button" class="assiDetailBtn"><span>과제상세보기</span></button></td>
                            <td><span>완료</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <script src="/js/prof/assignment.js"></script>
</div>