<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/profdefault}">
<head>
    <link rel="stylesheet" href="/css/prof/assiWrite.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script>
        function readURL(input) {
            if(input.files && input.files[0]) {
                let reader = new FileReader();
                // reader.onload = function (e) {
                //     $("#preView").attr('src', e.target.result);
                // }
                reader.readAsDataURL(input.files[0]);
            }
        }


        $(function () {
            $(".delete_file").click(function () {
                // 이미지 미리보기를 초기화 (이미지를 비움)

                // 파일 입력 필드를 초기화 (파일 선택 해제)
                $(".select_file").val('');

                // 혹은, 파일 입력 필드를 삭제하는 방법 (선택적)
                // $(".select_img").remove();
            })
        });
    </script>
</head>
<div id="mainFrame" layout:fragment="content" class="mainFrame">
    <form th:action="@{'/prof/lecture/view/' + ${lectId} + '/assignments/'+ ${assignment.id}+ '/modify/modify'}" class="assi_write_body" method="post" th:object="${assignment}" enctype="multipart/form-data">
        <div class="assi_write_btn_box">
            <div class="assi_write_assi_info_text_box">
                <span>📄&nbsp 과제정보</span>
            </div>
            <div class="assi_write_save_btn">
                <button type="submit" class="backBtn">쓰기</button>
            </div>
            <div class="assi_write_back_btn">
                <button type="button" class="backBtn">돌아가기</button>
            </div>
        </div>
        <div class="assi_write_big_box">
            <div class="assi_write_assi_name_box">
                <div class="assi_write_assi_name_text_box">
                    <span>과제명</span>
                    <input type="text" th:field="${assignment.lectInfo}">
                </div>
                <div class="assi_write_assi_name_input">
                    <input th:field="${assignment.name}" type="text" id="assignName" placeholder="과제명"/>
                </div>
            </div>
            <div class="assi_write_assi_detail_box">
                <div class="assi_write_assi_detail_text_box">
                    <span>과제설명</span>
                </div>
                <div class="assi_write_assi_detail_textarea">
                    <textarea th:text ="${assignment.detail}" th:field="${assignment.detail}" id="assignDetail"></textarea>
                </div>
            </div>
            <div class="assi_write_assi_date_box">
                <div class="assi_write_assi_start_box">
                    <div class="assi_write_assi_start_text_box">
                        <span>제출시작일시</span>
                    </div>
                    <div class="assi_write_assi_start_input">
                        <input th:field="${assignment.start}" type="text" id="assignStart" placeholder="0000. 00. 00. 형식으로 입력"/>
                    </div>
                </div>
                <div class="assi_write_assi_end_box">
                    <div class="assi_write_assi_end_text_box">
                        <span>제출마감일시</span>
                    </div>
                    <div class="assi_write_assi_end_input">
                        <input th:field="${assignment.end}" type="text" id="assignEnd" placeholder="0000. 00. 00. 형식으로 입력"/>
                    </div>
                </div>
            </div>
            <div class="assi_write_is_active_box">
<!--                <div class="assi_write_is_active">-->
<!--                    <div class="assi_write_is_active_text_box">-->
<!--                        <span>진행상태</span>-->
<!--                    </div>-->
<!--                    <div class="assi_write_is_active_input">-->
<!--                        <input type="text" id="isActive" placeholder="과제명"/>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="assi_write_assi_file">
                    <div class="assi_write_assi_file_text_box">
                        <span>자료파일</span>
                    </div>
                    <div class="assi_write_assi_file_input">
                        <input name = "file" type = "file" class = "select_file">
                    </div>
                </div>
                <div class="assi_write_assi_btns">
                    <div class="assi_write_assi_file_btn_box">
<!--                        <button type="button" class="upload_btn">업로드</button>-->
<!--                        <button type="button" class="download_btn">다운로드</button>-->
                        <button type="button" class="delete_file">파일삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>