<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/profDefault}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap icon cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- fontawesome cdn -->
    <script src="https://kit.fontawesome.com/fa8d81743a.js" crossorigin="anonymous"></script>
    <!-- header css -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/prof/prof_my_page.css">
    <title>강사 > 마이페이지</title>

    <th:block layout:fragment="script">

        <script th:inline="javascript">
            var data = $('form').serialize();

            function readURL(input) {
                if(input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $("#preView").attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }


            $(function () {
                $(".delete_img").click(function () {
                    // 이미지 미리보기를 초기화 (이미지를 비움)
                    $("#preView").attr('src', '#');

                    // 파일 입력 필드를 초기화 (파일 선택 해제)
                    $(".select_img").val('');

                    // 혹은, 파일 입력 필드를 삭제하는 방법 (선택적)
                    // $(".select_img").remove();
                })
            });

        </script>


    </th:block>
</head>
<body>
<section id="mainFrame" layout:fragment="content">
    <!-- 중앙 시작   -->
    <section class="middle_section">
        <div class="title">
            <p>개인정보수정</p>
        </div>
        <form action="/prof/mypage/modify" role="form" method="post" id="form1" enctype="multipart/form-data">
            <article class="information" th:object="${member}">

                <input type="hidden" id="id" th:field="${member.id}">
                <div class="box1">
                    <div class="graph">
                        <div class="graph_left" >성명</div>
                        <div class="graph_right">
                            <input  type="text" th:field="${member.userName}">
                        </div>
                    </div>
                    <div class="graph">
                        <div class="graph_left">생년월일</div>
                        <div class="graph_right">
                            <input type="text" th:field="${member.userBirthday}">
                        </div>
                    </div>

                    <div class="graph">
                        <div class="graph_left">성별</div>
                        <div class="graph_right">
                            <div style="text-indent: 5px; font-size: 20px; margin-left: 10px; margin-top: 10px;" th:text="${member.userGender.description}"></div>
                        </div>
                    </div>
                    <div class="graph">
                        <div class="graph_left">전화번호</div>
                        <div class="graph_right">
                            <input type="text" th:field="${member.userPhoneNum}">
                        </div>
                    </div>
                    <div class="graph">
                        <div class="graph_left">이메일</div>
                        <div class="graph_right">
                            <input type="text" th:field="${member.userEmail}">
                        </div>
                    </div>
                    <div class="graph">
                        <div class="graph_left">주소</div>
                        <div class="graph_right">
                            <input type="text" th:field="${member.userAddr}">
                        </div>
                    </div>
                </div>


                <div class="box2">
                    <div class="photo">
                        <div class="photo_left">
                            사진
                        </div>
                        <div class="photo_right">
                            <p class="img">
                                <img id = "preView" src = "#" alt="이미지가 없습니다.">
                            </p>
                            <input name = "file" type = "file" accept = "image/*" class = "select_img">
                            <div style="border: 1px solid black; border-radius:5px; position: absolute; margin-top: -28px; margin-left: 300px;" class="delete_img">삭제</div>
                        </div>
                    </div>
                </div>
            </article>

            <input type="hidden" name="profId" th:field="${professor.profId}"  >

            <br>

        <article class="bank" th:object="${professor}">
            <div>은행/계좌정보</div>
            <div>
                <select name="profBank" th:field="${professor.profBank}" required>
                    <option value="">은행을 선택해주세요</option>
                    <option value="하나은행">하나은행</option>
                    <option value="신한은행">신한은행</option>
                    <option value="농협">농협</option>
                    <option value="SC제일은행">SC제일은행</option>
                    <option value="부산은행">부산은행</option>
                    <option value="대구은행">대구은행</option>
                    <option value="신협">신협</option>
                    <option value="카카오뱅크">카카오뱅크</option>
                    <option value="새마을금고">새마을금고</option>
                </select>
            </div>
            <div><input style="width: 95%; height: 95%;" type="text" name="profAccount" th:field="${professor.profAccount}"></div>
            <div>소속기관</div>
            <div><input style="width: 95%; height: 95%;" type="text" name="profAgency" th:field="${professor.profAgency}" ></div>

        </article>
            <article class="bank">
                <div>직무</div>
                <div><input type="text" name="profWork" th:field="${professor.profWork}" ></div>
                <div>   </div>
                <div>활동상태</div>
                <div><div style="width: 200px; height: 45px; background-color: white;" th:text="${professor.isActive} ? 활성 : 비활성"></div></div>
            </article>

        <button type="submit"></button>
        </form>

    </section>
    <!-- 중앙 끝 -->
</section>
        <!-- bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- header js -->
        <script src="/js/header.js"></script>
</body>
</html>