/* 글꼴 폰트 프리텐다드 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

/* seceion 기본 css 설정 */
section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', 'sans-serif';
    min-height: 500px;
}

section ul , section li {
    list-style: none;
    padding: 0;
}

section a {
    color: black;
    text-decoration: none;
}

section a:visited {
    color: black;
}

/* section 시작 */
section {
    /* border: 1px solid red; */
    height: 100%;
}

.board {
    /* border: 1px solid blue; */
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* total , 검색창 부분 설정 */
.board_top {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.board_top > div {
    /* border: 1px solid blue; */
    height: 2.5rem;
}

.board_top > div:first-child {
    font-weight: bold;
    text-align: center;
}
.board_top > div:first-child > p {
    /* color: red; */
    align-items: center;
    margin-top: 0.5rem;   
}

/* 검색 버튼 설정 */
.searchBtn , .searchBtn:hover{
    /* border: 1px solid black; */
    border-radius: 0;
    background: black;
    color: white;
}

/* 리스트 상단 부분 설정 */
.board_list {
    /* border: 1px solid black; */
    border-top: 2px solid black;
    width: 100%;
    margin-top: 0.5rem;
}

/* 리스트의 출력 설정 */
.board_list > table > tbody > tr:hover {
    border-bottom: 1px solid rgba(11, 11, 66, 0.651);
    cursor: pointer;
}

table {
    word-break: break-all;
    height: auto;
}

/* 767px 이하라면 아래의 css 적용 */
@media screen and (max-width: 767px){

    /* 분류 , 조회수는 감추어 필요한 정보만 */
    table > thead > tr > th:nth-child(2) ,
    table > thead > tr > th:nth-child(5) ,
    table > tbody > tr > td:nth-child(2) ,
    table > tbody > tr > td:nth-child(5) {
        display: none;
    }

    table {
        font-size: small;
        font-weight: bold;
    }
}

/* 게시글 하단부 설정 */
.board_bottom {
    /* border: 1px solid red; */
}

/* 페이징 설정 */
.pageing {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 2rem;
}

.pageing > li {
    /*border: 1px solid black;*/
    border-radius: 10px;
    margin: 3px;
    width: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.pageing > li > a {
    display: block;
}

/* 페이징의 a태그 visited 설정 어떻게 유지하도록 할 것인지? */
.page_active {
    background: black;
    color: white;
}

.page_active > a {
    color: white;
}

/* 글쓰기 버튼 박스와 설정 */
.board_write_article {
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
}

.board_write_article > button , .board_write_article > button:hover {
    border: 1px solid black;
    background: black;
    color: white;
    border-radius: 0;
}




